apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-java-springboot-lhnwdnhr
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-java-springboot-lhnwdnhr:13f9432998b7f9f37194734bf8ddfbc049530fd4@sha256:df8e829ee928ac0ea266ab89b928086cb96322079164f209ca22c3e4953ce207
        name: container-image  
